/* Atom spinner */
body {
    background: #000;
}
.container {
    max-width: 1800px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    width: 100px;
    height: 100px;
    background: linear-gradient(#b2e198, #07a272);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #d7d7d7;
}

.atom-spinner,
.atom-spinner * {
    box-sizing: border-box;
}

.atom-spinner {
    height: 80px;
    width: 80px;
}

.atom-spinner .spinner-inner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: #f2f8f6;
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: #f2f8f6;
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}
/* button Neon */

button {
    transition: 0.5s;
    width: 140px;
    height: 60px;
    background: none;
    font-size: 25px;
    color: lightblue;
    border: 3px solid lightblue;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background: lightblue;
    color: black;
    box-shadow: 0px 0px 40px lightblue;
}

/* logo & mennu */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoAtomSpinner, 
.menu {
    display: inline-block;
}

/* main */

main .question,
main .result {
    color: #fff;
    width: 50%;
    
}

.main {
    display: flex;
    border: 5px solid yellow;
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}

.main .result{
    text-align: center;
    border-left: 5px solid yellow;
}


.main .question .title {
    text-align: center;
}

.main .ex1text, .main .ex2text, .main .ex3text, .main .ex4text, .main .ex5text, .main .ex6text, .main .ex7text, .main .ex8text, .main .ex9text, .main .ex10text {
    display: none;
}
main input {
    font-size: 40px;
    height: 50px;
    width: 97%;
    
}


/* footer */

footer button{
    width: 400px;
}

footer button:hover{
    width: 400px;
    box-shadow: 0px 0px 21px lightblue;
}



.buttonFooter {
    text-align: center;
}

/* active */

.buttonActive {
    background: lightblue;
    color: black;
    box-shadow: 0px 0px 40px lightblue;
}

.main .textActive{
    display: block;
}





/* Animate Atom-spinner */
@keyframes atom-spinner-animation-1 {
    100%{
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-2 {
    100%{
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes atom-spinner-animation-3 {
    100%{
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}